<h2 class="home__title">Mangas</h2>
@for(manga of $mangas() | slice:0:5; track manga.name ){
<app-resource-card resourceType="manga" [mangaResource]="manga" />
}@empty {
<span class="no-animes__message"
  >No mangas found, lets <a routerLink="/mangas">create someone</a></span
>
}

<h2 class="home__title">Animes</h2>
@for(anime of $animes() | slice:0:5; track anime.name ){
<app-resource-card resourceType="anime" [animeResource]="anime" />
}@empty {
<span class="no-animes__message"
  >No animes found, lets <a routerLink="/animes">create someone</a></span
>
}
