.header {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #1b3073;

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;

    .logo-link__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;

      .link-img {
        width: 2rem;
        height: 2rem;
      }
    }

    .logout__link {
      all: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;

      .material-icons {
        font-size: 2rem;
      }
    }
  }
  .router__link {
    color: white;
  }
}
