:host {
  display: flex;
  width: 90%;
  background-color: #d89739;
  padding: 0.5rem 0.5rem;
}
.expand_more--button {
  all: unset;
}
.resource-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3rem;

  .resource-card__title {
    list-style: none;
    font-size: 1.5rem;
  }

  .resource-card__link {
    all: unset;
    background-color: aliceblue;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}

.edit-delete__resource {
  display: flex;
  align-items: center;
  gap: 2rem;

  .edit__resource--button,
  .delete__resource--button {
    all: unset;
  }
  .material-icons {
    font-size: 3rem;
  }
}
