<button class="expand_more--button">
  <span class="material-icons"> expand_more </span>
</button>
<details class="resource-card">
  <summary class="resource-card__title">
    {{ resourceType === "anime" ? animeResource.name : mangaResource.name }}
  </summary>
  <p>
    {{ resourceType === "anime" ? "Episode" : "Chapter" }}:
    {{
    resourceType === "anime" ? animeResource.episode : mangaResource.chapter
    }}
  </p>
  <p>
    {{ resourceType === "anime" ? "Minute" : "Page" }}:
    {{
    resourceType === "anime"
    ? animeResource.episodeMinute
    : mangaResource.chapterPage
    }}
  </p>
  <p>
    @if(resourceType === "anime"){
    @if(animeResource.nextEpisode){
  <p>Next episode: {{ animeResource.nextEpisode }}</p>
  }
  }@else {
  @if(mangaResource.nextChapter){
  <p>Next chapter: {{ mangaResource.nextChapter }}</p>
  }
  }
  </p>
  <p>
    @if(resourceType === "anime"){
    @if(animeResource.comment){
  <p>Comment: {{ animeResource.comment }}</p>
  }
  }@else {
  @if(mangaResource.comment){
  <p>Comment: {{ mangaResource.comment }}</p>
  }
  }
  </p>
  <a [href]="getResourceUrl(resourceType)" target="_blank" 
    class="resource-card__link">{{getLinkText(resourceType)}}</a>
</details>
<section class="edit-delete__resource">
  <button class="edit__resource--button" (click)="resourceType === 'anime' ? deleteResource(animeResource.id) : deleteResource(mangaResource.id)">
   <span class="edit-icon material-icons">
    edit
    </span>
  </button>
  <button class="delete__resource--button" (click)="resourceType === 'anime' ? deleteResource(animeResource.id) : deleteResource(mangaResource.id)">
    <span class="delete-icon material-icons">
    delete
    </span>
  </button>
</section>