:host {
  display: flex;
  width: 90%;
  background-color: #d89739;
  padding: 0.5rem 0.5rem;
}
.expand_more--button {
  all: unset;
}
.resource-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3rem;

  .resource-card__title {
    list-style: none;
    font-size: 1.5rem;
  }

  .resource-card__link {
    all: unset;
    background-color: aliceblue;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}
.delete__resource--button {
  all: unset;

  .material-icons {
    font-size: 2rem;
    color: rgb(136, 0, 0);
  }
}
